<section id="page-about">
  <div class="about-inner">
    <div class="about-head">
      <h1>My Expertise</h1>
      <br>
      <p>I am a freelance software developer on the web. I build things on the web.</p>
    </div>
    <div class="about-skills">
      <div class="skill-item" id="about-skill-1">
        <div class="skill-title">
          <h1>Client Side</h1>
        </div>
        <div class="skill-content">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <i class="devicon-css3-plain-wordmark colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-jquery-plain-wordmark colored"></i>
        </div>
        <div class="skill-description">
          <p>I build user interface.</p>
        </div>
      </div>
      <div class="skill-item" id="about-skill-1">
        <div class="skill-title">
          <h1>Server Side</h1>
        </div>
        <div class="skill-content">
          <i class="devicon-python-plain-wordmark colored"></i>
        </div>
        <div class="skill-description">
          <p>I also develop on the server.</p>
        </div>
      </div>
      <div class="skill-item" id="about-skill-1">
        <div class="skill-title">
          <h1>Tools</h1>
        </div>
        <div class="skill-content">
          <i class="devicon-visualstudio-plain colored"></i>
          <i class="devicon-linux-plain colored"></i>
          <i class="devicon-gulp-plain colored"></i>
          <i class="devicon-git-plain-wordmark colored"></i>              
        </div>
        <div class="skill-description">
          <p>With the best of tools.</p>
        </div>
      </div>
    </div>
  </div>
</section>