<section id="page-contact">
  <div class="contact-inner">
    <div class="contact-head">
      <h1>Find me here:</h1>
    </div>
    <div class="contact-content">
      {% if site.author.email %}
      <div class="contact-email">
        <a href="mailto:{{ site.author.email }}?subject=Hello!&body=Hello!"><i class="far fa-envelope fa-4x"></i></a>
      </div>
      {% endif %}
      {% if site.author.twitter %}
      <div class="contact-twitter">
        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fab fa-twitter fa-4x"></i></a> 
      </div>
      {% endif %}
      {% if site.author.linkedin %}
      <div class="contact-linked-in">
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin-in fa-4x"></i></a>  
      </div>
      {% endif %}
      {% if site.author.github %}
      <div class="contact-github">
        <a href="https://github.com/{{ site.author.github }}" target="_blank"><i class="fab fa-github fa-4x"></i></a>  
      </div>
      {% endif %}
    </div>
  </div>
</section>