<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/wikipedia-viewer-1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Wikipedia Viewer Awesome </h3>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Bootstrap</li>
      <li>Jquery</li>
      <li>Wikipedia API</li>
    </ul>
    <p>Wikipedia project</p>
    <a class="project-link" href="/wikipedia-viewer-awesome/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/awesome-basic-calculator-1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Awesome Basic Calculator </h3>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Javascript</li>
    </ul>
    <p>A project about calculator made by HTML5 + CSS3 + Javascript only (no external libraries)</p>
    <a class="project-link" href="/awesome-basic-calculator" target="_blank">Check it out</a>
  </div>
</div>
