section#page-about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  font-family: $primary-font;
}

.about-inner {
  margin: 8rem 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    margin: 2rem 0;
  }
}

.about-head {
  text-align: center;
  padding: 0 2rem;

  p {
    word-wrap: break-word;
  }
}

.about-skills {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  @media screen and (min-width: $width-small-phone) and
  (max-width: $width-medium-tablet - 1) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > div {
    width: 30%;
    @media screen and (min-width: $width-small-phone) and
    (max-width: $width-medium-tablet - 1) {
      width: 100%;
    }
  }
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $width-small-phone) and
  (max-width: $width-medium-tablet - 1) {
    margin: 5rem 0;
  }
}

.skill-title {
  margin-bottom: 3rem;
}

.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30rem;

  @media screen and (min-width: $width-small-phone) and
  (max-width: $width-medium-tablet - 1) {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2rem 0;
  }

  @media screen and (min-width: $width-medium-tablet) and
  (max-width: $width-large-tablet - 1) {
    height: 50rem;
  }

  i {
    margin: 1rem;
    font-size: 7.5rem;
  }
}

.skill-description {
  text-align: center;
}