// add modal-open to body
body.modal-open {
  overflow: hidden;
  position: fixed;
}

nav.modal-open {
  display: none !important;
}

section.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  // max-height: calc(100vh);
  min-height: 100vh;
  overflow-y: auto;

  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  color: black;

  font-family: $primary-font;
}

section.modal-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.modal-hidden {
  display: none;
}

.modal-box {
  width: 95%;
  max-width: 100rem;
  background-color: rgb(228, 228, 228);
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem red dotted;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.modal-image {

  img {
    margin: 5rem 0;
    max-width: 80rem;
    width: auto;
    height: auto;

    @media screen and (min-width: $width-small-phone) and
    (max-width: $width-medium-tablet - 1) {
      width: 30rem;
      height: auto;
      margin: 4rem 0;
    }

    @media screen and (min-width: $width-medium-tablet) and
    (max-width: $width-large-tablet - 1) {
      max-width: 45rem;
      height: auto;
      margin: 4rem 0;
    }

    @media screen and (min-width: $width-large-tablet) and
    (max-width: 850px) {
      max-width: 70rem;
    }
  }
}

.modal-description {
  margin: 0 5rem;
  word-wrap: break-word;
  max-width: 60rem;
  margin-bottom: 1rem;
}

.modal-footer {
  width: 100%;
  max-width: 70rem;
}

.modal-footer-list {
  display: grid;
  display: -ms-grid;

  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  // display: flex;
  // justify-content: center;
  padding: 0;

  li {

    h3 {
      margin-bottom: 1rem;
    }
    text-align: center;
    margin: 0 1rem;
    justify-self: center;
  }
}

// #modal-1 .modal-box {
//   background-color: rgb(255, 169, 169);
// }

.modal-button {
  display: grid;
  display: -ms-grid;
  
  @media screen and (min-width: $width-small-phone) and (max-width: $width-large-tablet - 1) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    grid-template-areas: 
    "demo code"
    "close close"
  }
   
  @media screen and (min-width: $width-large-tablet) {
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-template-areas: 
    "demo code close"
  }
  

  a:nth-child(1) {
    grid-area: demo;
  }

  a:nth-child(2) {
    grid-area: code;
  }

  a:nth-child(3) {
    grid-area: close;
    justify-self: center;
  }

}