$primary-font: "Ubuntu", "Sans serif";
$primary-color: #545454;
$secondary-color: rgb(57, 122, 165);

// screen size
$width-small-phone: 320px;
$width-medium-tablet: 480px;
$width-large-tablet: 768px;
$width-minimum-pc: 992px;
$width-small-laptop: 1360px;

$height-small-laptop: 768px;